@import "/assets/css/menu.css";

:root {
    font-size: 15px;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    
}
main{
    background: url('./assets/img/bg.jpg'), no-repeat;
    height: 100vh;
}
footer{

}

.bg-light{
    background:#F8EEEE !important;
}
.bg-pink{
    background:#FC8B8B;
}

.hearder-cali{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('./assets/img/TopCali.jpg'), no-repeat;
    /* height: 400px; */
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hearder-cali .logo {
    width: 25%;
}

.navbar-toggler,
.nav-link{
    color: white;
}

.navbar-toggler:hover,
.nav-link:hover{
    color: #FC8B8B;
    border: none;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.title-section{
    color: white;
}
/* Criando o estilo da linha esquerda (before) e linha direita (after) */
.title-line:before,
.title-line:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title-lineB:before,
.title-lineB:after {
  background-color: black;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

/*Ajustes no tema do carrossel*/
.carousel-indicators [data-bs-target] {
    background-color: black !important;
}
.carousel-indicators{
    bottom: 10px;
}
.carousel-caption{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}
.carousel-caption h5,
.carousel-caption p{
    color: black;
}
.carousel-caption h5{
    text-transform: uppercase;
   font-weight: bold; 
}

.text-black{
        color: black !important;
}
.text-white{
    color: white !important;
}



.card-img-top{
    max-height: 200px;
    object-fit: cover;
}

.fs-circle{
    font-size: .95rem;
    text-transform: uppercase;
}
.pin-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: double #FC8B8B 5px ;
    background: #F8EEEE;
    color: #FC8B8B;
    transition: all .3s ease-in-out;
    box-shadow: inset 0 0 0 0.1rem rgba(255, 255, 255, .6);
}


.pin-circle:hover{
    color: #F8EEEE;
    background: #FC8B8B; 
    border: double #F8EEEE 5px ;
    box-shadow: inset 0 0 0 5rem rgba(255, 255, 255, .2); 
}

.img-comments{
    max-width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 0 0 0;
} 

@media screen and (max-width:767px) { 
    .fs-circle {
        font-size: 0.75rem;
    }
    .pin-circle{
        width: 80px;
        height: 80px;
    }
 }