@import "./assets/css/menu.css";
@import "./assets/css/header.css";
@import "./assets/css/navbar.css";
@import "./assets/css/posts.css";
@import "./assets/css/footer.css";
@import "./assets/css/bestseller.css";
@import "./assets/css/comments.css";
@import "./assets/css/pinbar.css";
@import "./assets/css/promonews.css";


:root {
    font-size: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/img/bg.jpg'), no-repeat;
}

.bg-light {
    background: #F8EEEE !important;
}

.bg-pink {
    background: #FC8B8B;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.title-section {
    color: white;
}

/* Criando o estilo da linha esquerda (before) e linha direita (after) */
.title-line:before,
.title-line:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.title-lineB:before,
.title-lineB:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}